@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./fonts//OpenSans/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 600; 
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('./fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

li {
  list-style: none;
  color: aliceblue;

}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}



/* instagram */

.instagram {
  display: flex; 
  align-items: center; 
  justify-content: center;
  transition:  300ms ease;
  border-radius: 50%;
}

.instagram:hover {
  background: #833ab4;
  background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  transform: scale(1.1);
}



/* facebook */

.custom-circle-svg {
  transition: fill 0.3s ease, transform 0.3s ease;
}

.custom-circle-svg circle {
  fill: #696969; /* Початковий колір круга */
  transition: fill 0.3s ease; /* Плавний перехід кольору */
}

.custom-circle-svg:hover circle {
   fill: #3b5998; 
}

.custom-circle-svg:hover path {
  fill: #ffffff; /* Наприклад, зміна кольору path на чорний */
}

.custom-circle-svg:hover {
  transform: scale(1.1); /* Збільшення розміру при ховері */
}




/* :root {
  --background: #ffffff;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2e2e2e;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
